{% extends 'account/base.html' %}

{% load i18n %}

{% block head_title %}
{{ user.get_full_name }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <!-- breadcrumb -->

  <div class="bg-gray-13 bg-md-transparent">
    <div class="container">
      <!-- breadcrumb -->
      <div class="my-md-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1">
              <a href="{% url 'store:home' %}">Home</a>
            </li>
            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">My
              Account</li>
          </ol>
        </nav>
      </div>
      <!-- End breadcrumb -->
    </div>
  </div>
  <!-- End breadcrumb -->

  <div class="container">
    <div class="mb-4">
      <h1 class="text-center">{% trans "Manage Your Account" %}</h1>
    </div>
    <div class="my-4 my-xl-6">
      <nav class="">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link  {% if 'type' not in request.get_full_path or 'info' in request.get_full_path  %} active {% endif %} " id="nav-user-info-tab" data-toggle="tab" href="#nav-user-info" role="tab"
            aria-controls="nav-user-info" aria-selected="true">Profile Detail</a>
          <a class="nav-item nav-link {% if 'orders' in request.get_full_path  %} active {% endif %}" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">Orders</a>
          <a class="nav-item nav-link {% if 'address' in request.get_full_path  %} active {% endif %}" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false"  >Addresses</a>
        </div>
        
      </nav>
      <div class="tab-content mt-5" id="nav-tabContent">
        <div class="tab-pane fade  {% if 'type' not in request.get_full_path or 'info' in request.get_full_path  %}  show active {% endif %} " id="nav-user-info" role="tabpanel" aria-labelledby="nav-user-info">
          <form method="post" action="{% url 'accounts:profile' %}" class="js-validate" novalidate="novalidate">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <input type="hidden" name="type" value="user_info" />
            <div class="row mt-5">
              <div class="js-form-message form-group mb-5 col-lg-6 col-sm-12">
                <label class="form-label" for="RegisterSrEmailExample3">Email address
                  <span class="text-danger">*</span>
                </label>
                <input type="email" class="form-control" name="email" id="RegisterSrEmailExample3"
                  placeholder="Email address" aria-label="Email address" required
                  data-msg="Please enter a valid email address." data-error-class="u-has-error"
                  data-success-class="u-has-success" value="{{user.email}}">
                <p class="text-danger small errorlist">{{info_form.email.errors}}</p>
              </div>
              <div class="js-form-message form-group mb-5 col-lg-6 col-sm-12">
                <label class="form-label" for="RegisterSFirstNameExample3">First Name
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" name="first_name" id="RegisterSFirstNameExample3"
                  placeholder="First Name" aria-label="First Name" required data-msg="Please enter a valid First Name."
                  data-error-class="u-has-error" data-success-class="u-has-success" value="{{user.first_name}}">
                <p class="text-danger small">{{info_form.first_name.errors}}</p>

              </div>
              <div class="js-form-message form-group mb-5 col-lg-6 col-sm-12">
                <label class="form-label" for="RegisterSLastNameExample3">Last Name
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" name="last_name" id="RegisterSLastNameExample3"
                  placeholder="Last Name" aria-label="Last Name" required data-msg="Please enter a valid Last Name."
                  data-error-class="u-has-error" data-success-class="u-has-success" value="{{user.last_name}}">
                <p class="text-danger small">{{info_form.last_name.errors}}</p>

              </div>
              <div class="js-form-message form-group mb-5 col-lg-6 col-sm-12">
                <label class="form-label" for="RegisterSphone_numberExample3">Phone Number
                  <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" name="phone_number" id="RegisterSphone_numberExample3"
                  placeholder="Phone Number" aria-label="Phone Number" required
                  data-msg="Please enter a valid Phone Number." data-error-class="u-has-error"
                  data-success-class="u-has-success" value="{{user.phone_number}}">
                <p class="text-danger small">{{info_form.phone_number.errors}}</p>

              </div>
              <!-- End Form Group -->
              <!-- Button -->
              <div class="mb-6">
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary-dark-w px-5">Update</button>
                </div>
              </div>
              <!-- End Button -->
            </div>
          </form>
        </div>
        <div class="tab-pane {% if 'orders' in request.get_full_path  %} show active {% endif %} fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ordered Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              {% for order in user.order_set.all %}
              <tr>
                <th scope="row">{{order.id}}</th>
                <td>{{order.ordered_date}}</td>
                <td>
                  {% if order.received %}
                  Received
                  {% elif order.being_delivered %}
                  Delivered
                  {% elif order.ordered %}
                  Orderd
                  {% endif %}

                </td>
                <td>{{order.get_total}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade {% if 'address' in request.get_full_path  %} show active  {% endif %}" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addnewaddress">
            <i class="fas fa-plus"></i> Add New Address
          </button>
          <div class="modal fade" id="addnewaddress" tabindex="-1" role="dialog" aria-labelledby="Add New Address"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Add New Address">Add New Address</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="post" action="{% url 'accounts:profile' %}" class="js-validate" novalidate="novalidate">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input type="hidden" name="type" value="add_address" />
                    <div class="row">

                      <div class="col-md-12">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                          <label class="form-label">
                            Country
                            <span class="text-danger">*</span>
                          </label>
                          <select name="country" class="form-control js-select selectpicker dropdown-select"
                            required="" data-msg="Please select country." data-error-class="u-has-error"
                            data-success-class="u-has-success" data-live-search="true"
                            data-style="form-control border-color-1 font-weight-normal">
                            <option value="">Select country</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AX">Åland Islands</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia, Plurinational State of</option>
                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                            <option value="BA">Bosnia and Herzegovina</option>
                            <option value="BW">Botswana</option>
                            <option value="BV">Bouvet Island</option>
                            <option value="BR">Brazil</option>
                            <option value="IO">British Indian Ocean Territory</option>
                            <option value="BN">Brunei Darussalam</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CL">Chile</option>
                            <option value="CN">China</option>
                            <option value="CX">Christmas Island</option>
                            <option value="CC">Cocos (Keeling) Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CD">Congo, the Democratic Republic of the</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d'Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="SV">El Salvador</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="EE">Estonia</option>
                            <option value="ET">Ethiopia</option>
                            <option value="FK">Falkland Islands (Malvinas)</option>
                            <option value="FO">Faroe Islands</option>
                            <option value="FJ">Fiji</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="GF">French Guiana</option>
                            <option value="PF">French Polynesia</option>
                            <option value="TF">French Southern Territories</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GE">Georgia</option>
                            <option value="DE">Germany</option>
                            <option value="GH">Ghana</option>
                            <option value="GI">Gibraltar</option>
                            <option value="GR">Greece</option>
                            <option value="GL">Greenland</option>
                            <option value="GD">Grenada</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HM">Heard Island and McDonald Islands</option>
                            <option value="VA">Holy See (Vatican City State)</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="IR">Iran, Islamic Republic of</option>
                            <option value="IQ">Iraq</option>
                            <option value="IE">Ireland</option>
                            <option value="IM">Isle of Man</option>
                            <option value="IL">Israel</option>
                            <option value="IT">Italy</option>
                            <option value="JM">Jamaica</option>
                            <option value="JP">Japan</option>
                            <option value="JE">Jersey</option>
                            <option value="JO">Jordan</option>
                            <option value="KZ">Kazakhstan</option>
                            <option value="KE">Kenya</option>
                            <option value="KI">Kiribati</option>
                            <option value="KP">Korea, Democratic People's Republic of</option>
                            <option value="KR">Korea, Republic of</option>
                            <option value="KW">Kuwait</option>
                            <option value="KG">Kyrgyzstan</option>
                            <option value="LA">Lao People's Democratic Republic</option>
                            <option value="LV">Latvia</option>
                            <option value="LB">Lebanon</option>
                            <option value="LS">Lesotho</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="LT">Lithuania</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MO">Macao</option>
                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                            <option value="MG">Madagascar</option>
                            <option value="MW">Malawi</option>
                            <option value="MY">Malaysia</option>
                            <option value="MV">Maldives</option>
                            <option value="ML">Mali</option>
                            <option value="MT">Malta</option>
                            <option value="MH">Marshall Islands</option>
                            <option value="MQ">Martinique</option>
                            <option value="MR">Mauritania</option>
                            <option value="MU">Mauritius</option>
                            <option value="YT">Mayotte</option>
                            <option value="MX">Mexico</option>
                            <option value="FM">Micronesia, Federated States of</option>
                            <option value="MD">Moldova, Republic of</option>
                            <option value="MC">Monaco</option>
                            <option value="MN">Mongolia</option>
                            <option value="ME">Montenegro</option>
                            <option value="MS">Montserrat</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="MM">Myanmar</option>
                            <option value="NA">Namibia</option>
                            <option value="NR">Nauru</option>
                            <option value="NP">Nepal</option>
                            <option value="NL">Netherlands</option>
                            <option value="NC">New Caledonia</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaragua</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="NU">Niue</option>
                            <option value="NF">Norfolk Island</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK">Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PS">Palestinian Territory, Occupied</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="BL">Saint Barthélemy</option>
                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                            <option value="KN">Saint Kitts and Nevis</option>
                            <option value="LC">Saint Lucia</option>
                            <option value="MF">Saint Martin (French part)</option>
                            <option value="PM">Saint Pierre and Miquelon</option>
                            <option value="VC">Saint Vincent and the Grenadines</option>
                            <option value="WS">Samoa</option>
                            <option value="SM">San Marino</option>
                            <option value="ST">Sao Tome and Principe</option>
                            <option value="SA">Saudi Arabia</option>
                            <option value="SN">Senegal</option>
                            <option value="RS">Serbia</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="SG">Singapore</option>
                            <option value="SX">Sint Maarten (Dutch part)</option>
                            <option value="SK">Slovakia</option>
                            <option value="SI">Slovenia</option>
                            <option value="SB">Solomon Islands</option>
                            <option value="SO">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                            <option value="SS">South Sudan</option>
                            <option value="ES">Spain</option>
                            <option value="LK">Sri Lanka</option>
                            <option value="SD">Sudan</option>
                            <option value="SR">Suriname</option>
                            <option value="SJ">Svalbard and Jan Mayen</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="SY">Syrian Arab Republic</option>
                            <option value="TW">Taiwan, Province of China</option>
                            <option value="TJ">Tajikistan</option>
                            <option value="TZ">Tanzania, United Republic of</option>
                            <option value="TH">Thailand</option>
                            <option value="TL">Timor-Leste</option>
                            <option value="TG">Togo</option>
                            <option value="TK">Tokelau</option>
                            <option value="TO">Tonga</option>
                            <option value="TT">Trinidad and Tobago</option>
                            <option value="TN">Tunisia</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TC">Turks and Caicos Islands</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="VU">Vanuatu</option>
                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                            <option value="VN">Viet Nam</option>
                            <option value="VG">Virgin Islands, British</option>
                            <option value="VI">Virgin Islands, U.S.</option>
                            <option value="WF">Wallis and Futuna</option>
                            <option value="EH">Western Sahara</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                          </select>
                          <p class="text-danger small errorlist">{{address_form.country.errors}}</p>
                        </div>
                        <!-- End Input -->
                      </div>
                      
                      <div class="col-md-8">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                          <label class="form-label">
                            Street address
                            <span class="text-danger">*</span>
                          </label>
                          <input type="text" class="form-control" name="street_address"
                            placeholder="470 Lucy Forks" aria-label="470 Lucy Forks" required=""
                            data-msg="Please enter a valid address." data-error-class="u-has-error"
                            data-success-class="u-has-success">
                            <p class="text-danger small errorlist">{{address_form.street_address.errors}}</p>
                        </div>
                        <!-- End Input -->
                      </div>

                      <div class="col-md-4">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                          <label class="form-label">
                            Apt, suite, etc.
                          </label>
                          <input type="text" class="form-control" name="apartment_address"
                            placeholder="YC7B 3UT" aria-label="YC7B 3UT" data-msg="Please enter a valid address."
                            data-error-class="u-has-error" data-success-class="u-has-success">
                            <p class="text-danger small errorlist">{{address_form.apartment_address.errors}}</p>

                        </div>
                        <!-- End Input -->
                      </div>

                      <div class="col-md-6">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                          <label class="form-label">
                            City
                            <span class="text-danger">*</span>
                          </label>
                          <input type="text" class="form-control" name="city" placeholder="London"
                            aria-label="London" required="" data-msg="Please enter a valid address."
                            data-error-class="u-has-error" data-success-class="u-has-success" autocomplete="off">
                            <p class="text-danger small errorlist">{{address_form.city.errors}}</p>

                        </div>
                        <!-- End Input -->
                      </div>

                      <div class="col-md-6">
                        <!-- Input -->
                        <div class="js-form-message mb-2">
                          <label class="form-label">
                            Postcode/Zip
                            <span class="text-danger">*</span>
                          </label>
                          <input type="text" class="form-control" name="zip" placeholder="99999"
                            aria-label="99999" required="" data-msg="Please enter a postcode or zip code."
                            data-error-class="u-has-error" data-success-class="u-has-success">
                            <p class="text-danger small errorlist">{{address_form.city.errors}}</p>

                        </div>
                        <!-- End Input -->
                      </div>
                      
                      <div class="col-md-6">
                        <!-- Input -->
                        <div class="js-form-message mb-6">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="default"  id="default" />
                            <label class="form-check-label" for="default">
                              Make this default address
                            </label>
                            <p class="text-danger small errorlist">{{address_form.default.errors}}</p>

                          </div>
                        </div>
                        <!-- End Input -->
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            {% for address in user.address_set.all%}
            <div class="col-lg-4 col-sm-6">
              <div class="card mb-2" style="width: 100%">
                <div class="card-body">
                  {% if address.default %}
                  <h5 class="card-title text-dark">Default Address</h5>
                  {% endif %}
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-subtitle  mb-2"> Street Address: {{address.street_address}}</p>
                  <p class="card-subtitle mb-2"> Country: {{address.country}}</p>
                  <p class="card-subtitle mb-2"> Apt: {{address.apartment_address}}</p>
                  <p class="card-subtitle mb-2"> City: {{address.ciry}}</p>
                  <p class="card-subtitle mb-2"> ZIP: {{address.zip}}</p>
                  <a href="{{address.set_default_url}}" class="btn btn-primary">Set Default</a>
                  <a href="{{address.get_delete_url}}" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>





{% endblock %}